
# secrets for the bot

# [Required] Your bot token.
token: 114514:ABC-DEF1234ghIkl-zyx57W2v1u123ew11

# [Optional] Your test bot token. If you want to use test bot, please set test mode as true in config.yaml as well.
test token: 114514:ABC-DEF1234ghIkl-zyx57W2v1u123ew11

# [Required] Admin telegram user id. Only one admin is supported. Only admin can update configs, and receive errors of the bot.
admin: 114514

# [Optional] Authorized users telegram user id list. One per line. You can set require auth as false in config.yaml to make the bot fully public.
authorized users:
    - 114514
    - 1919810